<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1><%= post.title %></h1>    
  </header>
  <div class="container"> 
    <div class="post-content post-card">        
      <p class="post-meta">by <span><%= post.author %></span> | <span><%= post.date %></span></p> <hr>
      <br>      
      <img src="<%= post.image %>" alt="<%= post.title %>" class="blog-image">
      <br> <br>
      <p class="lead"><%= post.content.split('\n\n')[0] %></p> 
      <% for (let i = 1; i < post.content.split('\n\n').length; i++) { %> 
        <p><%= post.content.split('\n\n')[i] %></p>
      <% } %> 
    </div> 
    <br> <br>
    <a class="btn" href="/">Back to Home</a> 
  </div>
  <footer> 
    <p>&copy; 2024 Orhan YARDIM. All rights reserved.</p> 
    <p>Contact: <a href="mailto:orhan.yardim@example.com">orhan.yardim@example.com</a></p> 
  </footer>
</body>
</html>

